---
Checks: "clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-owning-memory,
  -cppcoreguidelines-init-variables,-cppcoreguidelines-narrowing-conversions,modernize-*,
  -cppcoreguidelines-pro-type-member-init,-modernize-use-trailing-return-type,performance-*,-readability-*"
FormatStyle: file
CheckOptions:
  modernize-use-nullptr.NullMacros: "NULL"
---
