---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
---
Language: Cpp
Standard: c++20
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # Headers in ""
  - Regex:          '".+"'
    Priority:       1
  # Headers in <> from external libraries with own subdir
  - Regex:          '<.+\/.+>'
    Priority:       2
  # Headers in <> with extension
  - Regex:          '<.+\..+>'
    Priority:       3
  # Headers in <> without extension
  - Regex:          '<.+>'
    Priority:       4
---
