---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
---
Language: Cpp
Standard: c++20
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
---
