[submodule "hat-trie/hat-trie"]
	path = hat-trie/hat-trie
	url = https://github.com/Tessil/hat-trie.git
[submodule "thread-pool/thread-pool"]
	path = thread-pool/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
