[submodule "icu4c"]
	path = icu4c
	url = https://github.com/florisboard/icu4c.git
[submodule "external/termbox2"]
	path = external/termbox2
	url = https://github.com/termbox/termbox2
[submodule "thread-pool/thread-pool"]
	path = external/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "external/nlohmann-json"]
	path = external/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest/
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
